<?xml version="1.0"?>
<configuration>

    <appSettings />
    <connectionStrings>
        <add name="BakeryShopConnectionString" connectionString="Data Source=.;Initial Catalog=BakeryShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true">

        </compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DanhMuc_ServiceSoap" />
                <binding name="SanPham_ServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2122/DanhMuc_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="DanhMuc_ServiceSoap"
                contract="DanhMuc_Service.DanhMuc_ServiceSoap" name="DanhMuc_ServiceSoap" />
            <endpoint address="http://localhost:2122/SanPham_Service.asmx"
                binding="basicHttpBinding" bindingConfiguration="SanPham_ServiceSoap"
                contract="SanPham_Service.SanPham_ServiceSoap" name="SanPham_ServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
